body {
    color: white;
    background-color: black;
}

.navbar {
    background-image: url(https://w0.peakpx.com/wallpaper/890/952/HD-wallpaper-space-galaxy-planets-green-universe.jpg);
    background-size: cover;
}

.logo {
    margin-left: 10px;
}

.rickypedia {
    margin-left: -30px;
    margin-right: 20px;
    color: #40E627;
} 

.btn-login {
    background-color: #40E627;
    font-size: large;
}

.container-login {
    margin: 0;
    background-image: url(https://i.pinimg.com/originals/16/1e/57/161e578236cf4194650e838e107eb9e2.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.card-personaje {
    width: 18rem;
    padding: 10px;
    margin: 10px;
}


.container-cardPersonajePrincipal {
 margin-top: 50px;
}


.card-personajePrincipal {
    max-width: 20vw;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    color: #000;
    background-color: #40E627;

}


